body{
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514e;
}
.mountain{
  position: relative;
  top: 5px;
}
.top_container{
  background-color:white;
  padding-top: 50px;
}
.middle-container{
  background-color: #d8e8e8;
}
.profileimg
{
  margin: 50px auto auto;
  width: 300px;
}
.pro{ text-decoration:underline;}
.skills{
  width: 50%;
  margin: auto;;
}
.hello{
  margin: 30px auto 50px;
}
.intro{
  margin: auto auto 100px;
}
.myskills{
  margin: 100px auto 70px;
}
h1{
  margin-bottom: 0;
  margin-top: 50px;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color:#66bfbf;
  font-weight: lighter;
}
h2{
  margin-top: 0;
  font-size: 2rem;
  color: #60c4c4;
  font-family: 'Montserrat Alternates', sans-serif;
}
h3
{
  color: #11999E;
  font-family: 'Montserrat Alternates', sans-serif;}
.img1
{
  position: relative;
  left: 250px;
  bottom: 20px;
}
.img2
{
  position:relative;
  bottom: 200px;
}
p{
  line-height: 25px;
}
hr{
  border-style: dotted none none;
  width: 5%;
  border-width: 5px;
  border-color: #8f9696;
}
.skillimg{
  width: 30%;
  float: left;
  margin: auto 20px auto auto;
}
.driving{
  width: 30%;
  float: right;
}
.skill2{
  text-align: left;
  margin-bottom: 150px;
  margin-top: 50px;
}
.skill1{
  display: inline-block;
  text-align: left;
}
#watermark{
  left: 0;
  padding: 1%;
  margin: 30px 0 0;
  font-size: .8em;
  background-color: #66bfbf;
}
.insta{
  width: 2.6rem;}
.twitter{
  position: relative;
  top: 2px;
  width: 3rem;}
.facebook{
  margin-bottom: 4px;
  margin-left: 3px;
  margin-right: 4px;
  width: 1.4rem;}
.email{width: 4rem;}
.getit{
  margin-top: 50px;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 0;
}
.btn {
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#4ea8c9;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:18px;
	font-weight:bold;
	padding:7px 16px;
	text-decoration:none;
	text-shadow:0px 2px 3px #3d768a;
  margin: 0 0 10px 0;
}
.btn:hover {
	background:linear-gradient(to bottom, #6cc2ad 5%, #6aa99c 100%);
	background-color:#63aea4;
}
.btn:active {
	position:relative;
	top:1px;
}
a{
  color: #075659;
  text-decoration: none;
  font-family: 'Montserrat Alternates', sans-serif;
  margin: 0px 15px 0;
}
a:hover{
  color: #11999E;
}
              
        